.control-panel {
  min-width: 350px;
  height: 100%;
  flex: 0;
  background-color: #f0f0f0;
  border-right: solid 1px #e3e3e3;

  &.collapsed {
    min-width: 50px;
  }

  .ControlPanelToggle:hover {
    cursor: pointer;
  }

  .column {
    position: relative;
  }

  .toggle {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
  }

  .info-marker {
    cursor: pointer;
  }

  .control-panel-footer {
    width: 100%;
    max-height: 3rem;
    font-size: 0.85rem;
  }
}
