.ControlPanel {
    min-width: 350px;
    min-height: 100vh;
    flex: 0;
    background-color: #f0f0f0;
    border-right: solid 1px #e3e3e3;
    transition: 0.5s;
}

.ControlPanel.collapsed {
    min-width: 50px;
    transition: 0.5s;
}

.ControlPanelToggle:hover { 
    cursor: pointer;
}

